.contactcontainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.contactimg {
  margin: 9rem 5rem;
}

.contactdetails {
  padding: 3rem 0 3rem 0;
}

.contactdetails h1 {
  font-size: 2rem;
  color: rgb(1, 21, 39);
}

.contactcontainer input[type="text3"],
.contactcontainer input[type="email3"],
.contactcontainer input[type="numeric2"],
.contactcontainer textarea {
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 2px 2px #aaa8a8;
  background-color: #f5f0ee;
  padding: 0.5rem;
  margin: 0.2rem 1rem;
  border: none;
  font-size: 1rem;
  font-family: "Bebas Neue", cursive;
}

.contactcontainer label {
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem;
  color: black;
  margin: 0.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
}

@media screen and (max-width: 768px) {
  .contactcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .contactimg {
    display: none;
  }

  .contactdetails h1 {
    font-size: 1.7rem;
    color: rgb(1, 21, 39);
  }

  .contactdetails {
    display: flex;
    flex-direction: column;
    margin: 0 0.2rem;
    padding: 0.5rem 0;
  }

  .contactcontainer input[type="text3"],
  .contactcontainer input[type="email3"],
  .contactcontainer input[type="numeric2"],
  .contactcontainer textarea {
    box-sizing: border-box;
    width: 90%;
  }
}
