.usercontainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.userimg {
  margin: 1.5rem 0 5rem 0;
}

.userdetails {
  padding: 2.5rem 0;
}

.usercontainer input[type="text1"] {
  box-sizing: border-box;
  border-radius: 14rem;
  box-shadow: 3px 3px #999696;
  background-color: #f5f0ee;
  padding: 1rem;
  margin: 1rem;
  border: none;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
}

.usercontainer label {
  font-family: "Bebas Neue", cursive;
  font-size: 22px;
  color: black;
  margin: 0.5rem;
}

@media screen and (max-width: 768px) {
  .usercontainer {
    display: flex;
    flex-direction: column;
  }

  .userimg {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-right: 1rem;
    padding: 1rem;
  }

  .userdetails {
    padding: 1rem 0 1rem 0;
  }

  .usercontainer input[type="text1"] {
    box-sizing: border-box;
    width: 90%;
  }
}
