/* button */
.button {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 1.3rem;
    margin: 0.2rem 0;
    font-size: 1rem;
    outline: 0;
    border: 0;
    background-color: var(--spl-clr);
    border: 2px solid transparent;
    color: #fff;
    border-radius: 5px;
    transition: all 1s ease;
}

.button:hover {
    transform: scale(0.95);
}

/* form item */
.form__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}

.form__item label {
    font-size: 1rem;
    padding: 0.1rem 0;
    margin: 0.1rem 0;
}

.form__item input[type='text'],
.form__item input[type='password'],
.form__item input[type='email'],
.form__item input[type='numeric'],
.form__item textarea {
    width: auto;
    padding: 0.4rem 0.5rem;
    outline: 0;
    border: 0;
    font-size: 0.9rem;
    border-radius: 3px;
    border: 1px solid #b8acac;
    background-color: transparent;
    transition: all .3s ease;
}



.form__item input[type='text']:focus,
.form__item input[type='password']:focus,
.form__item input[type='email']:focus,
.form__item input[type='numeric']:focus,
.form__item textarea:focus {
    border: 0.09rem solid blue;
}

.form__item textarea {
    width: auto;
}

/* .form__item input[type='password'],
.form__item input[type='numeric'] {
    width: 12rem;
} */

/*  */
/* Customize the label (the container) */


/* Hide the browser's default checkbox */
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding: 0.2rem 1.5rem;
    margin: 0.2rem 0;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin: 0.35rem 0;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*  */
@media screen and (max-width:768px) {

    /* button */
    .button {
        width: 7rem;
        padding: 0.3rem 0.8rem;
        font-size: 0.9rem;
    }

    /* form item */

    .form__item label {
        font-size: 0.9rem;
        padding: 0.2rem 0;
    }

    .form__item input[type='text'],
    .form__item input[type='password'],
    .form__item input[type='email'],
    .form__item input[type='numeric'],
    .form__item textarea {
        padding: 0.2rem 0.35rem;
    }



}