.productsBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 8px;
}

.productsBanner h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--main-clr);
    padding: 0.35rem 2rem;
}

.productsBanner .product__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .productsBanner h1 {
        text-align: center;
        font-size: 1rem;
        padding: 0.2rem;
    }

    .productsBanner .product__list {
        grid-template-columns: repeat(1, 1fr);
    }
}