.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #1b151570;
}

.modal_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}

.modal {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
}

.modal__head,
.modal__body,
.modal__button {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    color: #fff;
    font-weight: 500;
}

.modal__head {
    padding: 0.5rem;
    width: 100%;
    font-size: 1.1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--spl-clr);
}

.modal__body p {
    font-size: 0.9rem;
    padding-bottom: 2rem;
    color: var(--main-clr);
}

.modal__button {
    align-self: end;
}

.modal__button button {
    padding: 0.3rem 1rem;
}

@media screen and (max-width:768px) {
    .modal {
        width: 80%;
    }

    .modal__head h1 {
        font-size: 1rem;
    }

    .modal__body p {
        font-size: 0.7rem;
        padding-bottom: 1rem;
    }
}