.productItem {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    margin: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 7px 7px 16px #f5efef,
        -7px -7px 16px #f5efef;
}

.product__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
}

.product__img>div {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.product__image>div {
    border-radius: 8px;
}

.product__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.product__heading {
    padding: 0.09rem 0.3rem;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.product__price {
    padding: 0.09rem 0.3rem;
    font-family: 0.9rem;
    font-weight: 600;
}

.product__details {
    padding: 0.09rem 0.3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product__details p {
    font-size: 0.9rem;
    color: var(--sec-clr);
}

@media screen and (max-width:768px) {
    .productItem:hover {
        transform: none;
    }

    .product__heading {
        font-size: 1rem;
    }

    .product__price {
        font-family: 0.8rem;
    }

    .product__details p {
        font-size: 0.7em;
    }
}