.container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 0.2rem;
    place-items: center;
    width: 90%;
    min-height: 90vh;
    background-color: #fff;
    border-radius: 8px;
}

.image {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sec-bg);
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .form__head p {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--sec-clr);
}

.form__head,
.form__body {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    color: var(--main-clr);
}

.form__head h1 {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.form__head p {
    font-size: 1.1rem;
    color: var(--sec-clr);
    padding: 0.2rem 0;
}

.form_error {
    color: #bd1616;
    font-weight: 600;
    font-size: 0.85rem;
    padding: 0.1rem 0.2rem;
}

.form__action {
    display: flex;
    align-items: center;
    padding: 0.8rem 0.2rem;
}

.form__action button {
    width: 100%;
    margin: 0 0.2rem;
}

.form .extra__text {
    margin-top: 0.2rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--sec-clr);
}

.form__link {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.85rem;
}

.form__link a {
    color: var(--spl-clr);
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        width: 100%;
    }

    .image div {
        width: 80%;
        height: 80%;
    }

    .form__head,
    .form__body {
        width: 100%;
        padding: 0.5rem 1rem;
    }

    .form__head h1 {
        font-size: 1.25rem;
    }

    .form__head p,
    .form p {
        font-size: 0.8rem;
    }

    .form__action {
        padding: 0.8rem 0.2rem;
    }

}