.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    place-items: flex-start center;
    padding: 0.5rem 1rem;
}

.container__title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    margin: 0.3rem;
}

.container__title h1 {
    font-size: 1.5rem;
    margin: 0 0.2rem;
}

.container__title p {
    color: var(--sec-clr);
    font-size: 1rem;
    margin: 0 0.2rem;
}

.cart_container,
.info_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.cart {
    width: 70%;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.info_container ul {
    padding: 1.3rem 1.6rem;
    font-size: 0.9rem;
}

.info_container ul li {
    list-style-type: decimal;
    list-style-position: inside;
    background-color: var(--sec-bg);
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;
    border-radius: 10px;
}


@media screen and (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
        padding: 1rem 0.3rem;
    }

    .container__title {
        margin: 0.2rem;
    }

    .container__title h1 {
        font-size: 1.1rem;
    }

    .container__title p {
        font-size: 0.8rem;
    }

    .cart_container,
    .buying_container {
        place-items: center;
    }

    .cart {
        width: 90%;
    }

    .info_container ul {
        font-size: 0.8rem;
    }

    .info_container ul li {
        margin: 0.5rem 0;
    }

}