@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #ffffff;
  --sec-bg: #f0f3f5;
  --spl-bg: #303030;
  --main-clr: #2d393e;
  --sec-clr: #6e7175;
  --spl-clr: #cb3514;
  /* --spl-clr: #1329b9; */
  --light-clr: #d9d9d9;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: var(--main-bg);
  color: var(--main-clr);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h2 {
  font-weight: 600;
  font-size: 1.3rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
}

.error_heading {
  font-size: 1.2rem;
}

.error_info {
  font-size: 0.8rem;
  color: var(--sec-clr);
  width: 80%;
}

.link {
  margin: 0.2rem 0;
  font-size: 0.9rem;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.layout-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container,
.signIn_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  background-color: var(--main-bg);
}

.contactcontainer {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem 3rem;
  border-radius: 5px;
  background-color: black;
}

.signIn_container {
  justify-content: center;
  background-color: #1329b9;
  background: linear-gradient(to right, #ed213a, #93291e);
}

@media screen and (max-width:768px) {
  .error_heading {
    font-size: 1rem;
    text-align: center;
  }

  .error_info {
    font-size: 0.7rem;
    width: 100%;
  }
}