.main {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  padding: 1rem 2rem;
  background-color: #e9e7e7;
}

.categories {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.categories h2 {
  width: 100%;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--main-clr);
}

.categories ul li {
  list-style-type: none;
  width: 100%;
  padding: 0.25rem 0;
  color: var(--sec-clr);
  cursor: pointer;
  font-weight: 500;
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    padding: 1rem;
  }

  .categories {
    display: none;
  }
}