.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  padding: 1rem 2rem;
}

/* about us section */
.about__us {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  place-items: center;
  grid-gap: 2rem;
  width: 100%;
  min-height: 70vh;
  padding: 1rem 2rem;
  background-color: #fff;
}


.about__us h1 {
  font-size: 2.5rem;
}

.about__us p {
  width: 80%;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--sec-clr);
  padding-bottom: 0.1rem;
}

.about__service {
  width: 100%;
  min-height: 60vh;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center center;
  grid-gap: 1rem;
  background-color: var(--sec-bg);
}

.card {
  height: 50vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.card h2 {
  margin: 0.2rem 0;
}

.card p {
  margin: 0.25rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: var(--sec-clr);
}

/* instructions */
.instructions__container {
  width: 100%;
  min-height: 70vh;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  grid-gap: 1rem;
  border-radius: 8px;
}

.instructions__container .block {
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.instructions__container .block h1 {
  font-size: 2rem;
}

.instructions__container .block p {
  font-size: 0.8rem;
  color: var(--sec-clr);
  padding: 0.1rem 0;
}

.instructions__container .block .block__no {
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.1rem 0;
}

.instructions__container .block h2 {
  font-size: 1.2rem;
  padding: 0.1rem 0;
}


@media (max-width: 768px) {

  /* about us */

  .about__us {
    padding: 2rem 1rem;
    grid-template-columns: 1fr;
  }

  .about__us div {
    width: 80%;
  }

  .about__us h1 {
    text-align: center;
    font-size: 1.3rem;
  }

  .about__us p {
    text-align: justify;
    width: 100%;
    font-size: 0.75rem;
  }

  .about__service {
    grid-template-columns: 1fr;
  }

  .about__service .card {
    height: auto;
    padding: 1rem 0.5rem;
  }

  .about__service .card h2 {
    font-size: 1.1rem;
  }

  .about__service .card p {
    text-align: justify;
    width: 90%;
    font-size: 0.7rem;
  }

  /* instructions */
  .instructions__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .instructions__container .block h1 {
    font-size: 1.3rem;
  }

  .instructions__container .block p {
    font-size: 0.8rem;
  }

  .instructions__container .block .block__no {
    font-size: 1.2rem;
  }

  .instructions__container .block h2 {
    font-size: 1rem;
  }

}