.info__block {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 0.2rem 1rem;
}

.info__block p {
    cursor: pointer;
    color: var(--sec-clr);
    font-weight: 600;
    font-size: 1rem;
}

.info__block button {
    width: auto;
    background-color: transparent;
    color: var(--spl-clr);
    border: 2px solid var(--spl-clr);
}

.main {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    min-height: 100vh;
    margin: 0.5rem 1rem;
    border-radius: 8px;
}

.products__container .info__block p {
    color: var(--main-clr);
}

.filter__container,
.products__container {
    margin: 0.5rem 0;
    padding: 0.3rem 1rem;
}

.reset_filter_button {
    margin: 0.5rem 0.4rem;
    padding: 0.2rem 1rem;
    font-size: 0.9rem;
    border: 1px solid black;
}

.info__block h2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
}

.info__block h2 div {
    margin-left: 1rem;
}

.filter__value {
    padding: 0.2rem 1rem;
    margin: 0 1rem;
}

@media screen and (max-width:768px) {
    .products__container .info__block {
        display: grid;
        grid-template-columns: 0.6fr 1fr;
    }

    .main {
        grid-gap: 0.2rem;
    }

    .products__container {
        padding: 0.5rem 0;
    }

    .filter__buttons button {
        width: 7rem;
        margin: 0.5rem 0.2rem;
    }

}