.user_container {
  width: 100%;
  min-height: 100vh;
  padding: 1rem 1.5rem;
  display: flex;
}

.user_img {
  width: 38%;
  padding: 0.5rem 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.user_img h2 {
  font-size: 1.1rem;
  padding: 0.2rem 0;
}

.user_img svg {
  padding: 0.2rem 0;
}

.user_img p {
  color: var(--sec-clr);
  font-size: 0.75rem;
  padding: 0.2rem 0;
}

.profileImage_container {
  margin: 0.4rem 0;
  padding: 0.5rem 0;
}

.userImage__pic {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  margin: 0.2rem 0;
}

.userImage {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background-color: #686767d3;
  display: grid;
  place-items: center;
  margin: 0.2rem 0;
}


.userImage p {
  height: auto;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 3.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.user_form {
  width: 100%;
  border-radius: 8px;
  border: 1px solid gray;
  padding: 1rem 2rem;
}

.user_form h3 {
  font-size: 1.1rem;
}

.profile_button {
  display: flex;
  justify-content: flex-start;
}


@media screen and (max-width: 768px) {
  .user_container {
    display: flex;
    flex-direction: column;
  }

  .user_img {
    width: 100%;
  }

  .user_img h2 {
    font-size: 1rem;
  }

  .user_form h3 {
    font-size: 1rem;
  }

  .userImage {
    width: 5rem;
    height: 5rem;
  }

  .userImage p {
    font-size: 2rem;
  }
}